<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1015427928595-fgf3ep8cocped3tk66oebhchvrdkbp2n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015427928595-fgf3ep8cocped3tk66oebhchvrdkbp2n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1015427928595-ug5nesj06i7ooqq4kpcjvi5lpfia2h7p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA-hQ2mHnKVSNuqeH8zDGbMi_KmqYGa3lw</string>
	<key>GCM_SENDER_ID</key>
	<string>1015427928595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.calendario</string>
	<key>PROJECT_ID</key>
	<string>remind-81053</string>
	<key>STORAGE_BUCKET</key>
	<string>remind-81053.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015427928595:ios:698abe509b211bcfb925e6</string>
</dict>
</plist>